.surveyPost {
    list-style: none;
    border-radius: 10px;
    border: 2px solid grey;
    background-color: rgba(255, 255, 255, 0.89);
    padding: 12px;
    margin: 8px;
}

.surveyPostList {
    border: 1px solid black;
    background-color: rgba(128, 0, 0, 0.644);
    border-radius: 16px;
}


.discussionPostList{
    border: 1px solid black;
    background-color: rgba(128, 0, 0, 0.644);
    border-radius: 16px;;
}

.discussionPost{
    list-style: none;
    border-radius: 10px;
    border: 2px solid grey;
    background-color: rgba(255, 255, 255, 0.89);
    padding: 12px;
    margin: 8px;
}

.navItems{
    font-style: none;
    color:white;
    font-size: 24px;
}
